<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Change Form</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
</head>
<body>
<div class="container">
    <h1>Balance Change Form</h1>
    <form action="/balance" method="post">
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required><br><br>
            <button type="submit" class="btn btn-primary">Submit Balance Change</button>
        </div>
    </form>
   <form action="/" method="get">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Home</button>
        </div>
    </form>
</div>
</body>
</html>
